<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Komputery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Komputery</h1>
    <hr>
    <h2>Edycja komputera</h2>

    <form action="#" th:action="@{/saveComputer}" th:object="${computerModel}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <input type="date" th:field="*{dateAccounting}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{priceUSD}" class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2"> Zedytuj komputer</button>
    </form>

    <hr>

    <a th:href="@{/}"> Wró? do listy komputerów</a>
</div>
</body>

</html>